services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - workshop_net

  web:
    build:
      context: .
      args:
        UID: ${UID}
        GID: ${GID}
    user: "${UID}:${GID}"
    volumes:
      - .:/app
      - bundle_cache:/usr/local/bundle
      - rails_log:/app/log
      - rails_tmp:/app/tmp
    ports:
      - "3000:3000"
    depends_on:
      - db
    networks:
      - workshop_net
    environment:
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}
      UID: ${UID}
      GID: ${GID}
      SMTP_USERNAME: ${SMTP_USERNAME}
      SMTP_PASSWORD: ${SMTP_PASSWORD}
      MERCADOPAGO_TOKEN: ${MERCADOPAGO_TOKEN}

volumes:
  pgdata:
  bundle_cache:
  rails_log:
  rails_tmp:

networks:
  workshop_net:
