apiVersion: v1
kind: Service
metadata:
  name: order-service
  namespace: workshop
spec:
  selector:
    app: order-service
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: ClusterIP
